.error {
	color:red;
	display:none;
}

.day .content {
	z-index:100;
	display:block;
}

/***** Start of split-cell, specific styles. ****
*/
.SplitCellBackground, .TopOfCell, .BottomOfCell, .TopOfCellNo, .BottomOfCellNo {
    margin:             0;
    padding:            0;
    width:              100%;
    height:             50%;
    z-index:            -1;
}
.SplitCellBackground {
    position:           absolute;
    width:              10em;
    height:             10em;
}
.BottomOfCell {
    background:         #45D061;
}
.TopOfCell {
    background:         #4EE96D;
}

.BottomOfCellNo {
    background:         #ffffff;
}
.TopOfCellNo {
    background:         #ffffff;
}
/***** End of split-cell, specific styles. *****/

.bubbleInfo {
    /*position: static;*/
    top:0;
    left:0;
    width:inherit;
    height:inherit;
}

.trigger {
	z-index:10;
	height:inherit;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
    z-index:500;
    background:url('img/ico/apple-touch-icon-114x114-precomposed.png') repeat;
    width:100px;
    border:3px solid black;
}
